/*  VARIÁVEIS E CONFIGURAÇÕES GERAIS  */
:root {
  /* Cores CORRETAS */
  --primary-color: #063643;             /* cores principais: títulos, destaques, botões */
  --accent-color: #0F637A;              /* destaques de atenção: botões, bordas, ícones */
  --light-color: #F8F8FF;               /* fundos claros: seções, cards */
  --dark-color: #063643;                /* rodapé, textos escuros */
  --white-background: #E2F5FA;          /*fundos claros: profissionais, avaliações, contato, banner*/
  --nav-link-hover: #C0DEEA;            /*hover botao nav*/
  --banner-button-hover: #7CCBE0;       /*hover botao banner*/
  --blue-background: #63B3C9;           /*background do primeiro banner da campanha e do serviço*/
  --avaliacao-hover: #6BB7CB;           /*botao avaliacao hover*/
  --white: #FAFDFF;                     /*Usado em background e algumas letras*/

  --blue-light-background: #89C5D5;     /*background da parte de serviço e quem somos*/

  --font-Poppins: 'Poppins', sans-serif;
  --font-Inter: 'Inter', sans-serif;
  --font-Sans: 'Open Sans', sans-serif;

  --mobile-button: #C7EBFB;             /*cor de botão mobile da avaliação*/
}

/* RESET E CONFIGURAÇÕES BASE */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.container{

  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;

}

.container-menor{

  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;

}

body {
  font-family: var(--font-Poppins);
  color: var(--dark-color);
  background-color: var(--white-background);
}

p {

  font-family: var(--font-Sans);

}

/*  CABEÇALHO  */
header {
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 140px;
}

#nav-links{

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

}

#nav-div{

  display: flex;
  align-items: center;

}

#logoImagem{

  height: 70px;
  width: auto;
  margin-right: 12px;

}

#nav-div span{

  font-weight: 700;
  font-size: 14px;

}

#nav-links ul{

  list-style: none;
  display: flex;
  align-items: center;

}

#nav-links li{

  margin-left: 15px;

}

#nav-links a{

  height: 100%;
  text-decoration: none;
  color: var(--dark-color);
  font-size: 24px;
  padding: 4px 4px;
  border-radius: 6px;
  transition: background-color 0.5s ease;

}

#nav-links a:hover{

  background-color: var(--nav-link-hover);

}

#menu-mobile{

  display: none;

}

/* ====== BANNER ====== */

#inicio{

  padding-top: 20px;
  padding-bottom: 30px;

}

#banner-central {
  position: relative;
  height: clamp(250px, 50dvw, 450px);
  width: 100%;
  box-sizing: border-box;
  padding: 55px 75px;
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

}

#texto-banner-central{

  color: var(--dark-color);
  font-size: 28px;

}

#botao-banner{
  text-decoration: none;
  color: var(--light-color);  
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: clamp(12px, 2vw, 20px);
  position: absolute;
  top: 45%;
  font-size: clamp(1rem, 2.5dvw, 1.75rem);
  font-weight: 700;
  transition: color 0.5s ease, background-color 0.5s ease;
}

#botao-banner:hover{

  color: var(--dark-color);
  background-color: var(--banner-button-hover);

}

.banner-central-imagens{

  max-width: 50%;
  max-height: 100%;

}

#pets-detalhe{

  width: clamp(150px, 25dvw, 283px);
  position: absolute;
  top: 0%;
  right: 0%;

}

#pets{

  max-height: 255px;
  width: clamp(360px, 60dvw, 717px);
  height: auto;
  position: absolute;
  bottom: clamp(30px, 5vw, 55px);
  right: clamp(40px, 7vw, 75px);

}

/* ====== CAMPANHA ====== */

#campanha-coluna{

  display: flex;
  flex-direction: column;

}

#campanha-linha{

  display:flex;
  flex-direction: row;
  align-items: center;

}

#carrossel-banners{

  height: 300px;
  width: 100%;
  max-width: 1180px;
  border-radius: 8px;
  position: relative;

}

.slide{

  width: 100%;
  height: 100%;

  border-radius: 8px;

  position: absolute;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);


}

.slide img{

  position: absolute;

}

.slide span{

  position: absolute;

}

.slide #titulo{

  font-size: clamp(1rem, 2.5dvw, 1.75rem);
  font-weight: 700;

}

.slide #texto{

  font-size: clamp(1rem, 1.75dvw, 1.25rem);
  font-weight: 500;

}

.slide.active{

  opacity: 1;
  z-index: 10;

}

.botao{

  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

}

.botao-campanha{

  width: 21px;
  height: 20px;
  background-image: url(imagens/campanha/point.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 0.4s ease;

}

.botao-campanha.active{

  background-image: url(imagens/campanha/point-blue.svg);
  background-repeat: no-repeat;

}

#arrow-back, #arrow-next{

  height: 40px;
  width: auto;

}

#botoes-campanha{

  display: flex;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 25px;
  gap: 25px;

}

.saiba-mais{

  font-size: clamp(1rem, 2.5dvw, 1.75rem);
  background-color: var(--light-color);
  padding: 1.5% 6%;
  font-weight: 700;
  color: var(--dark-color);
  border-radius: 4px;
  font-family: var(--font-Poppins);
  position: absolute;

}

/* ====== BANNER 1 ====== */

.banner-1{

  background-color: var(--blue-background);

}

.banner-1 .saiba-mais{

  top:50%;
  left:46%;

  transition: color 0.5s ease, background-color 0.5s ease;

}

.banner-1 .saiba-mais:hover{

  color: var(--light-color);
  background-color: var(--dark-color);

}

#patinha-1{

  top: 6.5%;
  left: 2.5%;

}

#patinha-2{

  top: 43%;
  left: 23%

}

#seringa{

  top: 26.2%;
  left: 10.6%;

}

#gato-sombra{

  bottom: 1%;
  right: 10%

}

.banner-1 #titulo{

  left: 46%;
  top: 7.5%;

}

.banner-1 #texto{

  left: 46.5%;
  top: 25%;
  color: var(--accent-color);

}

/* ====== BANNER 2 ====== */

.banner-2{

  background-color: var(--dark-color);
  background-image: url(imagens/campanha/banner-2/background-patinha.svg);

}

.banner-2 .saiba-mais{

  bottom: 11%;
  left: 8.5%;

  transition: background-color 0.5s ease;

}

.banner-2 .saiba-mais:hover{

  background-color: var(--banner-button-hover);

}

.banner-2 #cachorro{

  position: absolute;
  bottom: 0;
  right: 23%

}

.banner-2 #gato-lateral{

  position: absolute;
  right: 0;

}

.banner-2 #titulo{

  color: #FFFFFF;
  left: 6%;
  top: 7%;

}

.banner-2 #texto{

  color: #FAFDFF;
  font-size: clamp(0.875rem, 1.75dvw, 1.125rem);
  width: 520px;
  left: 6.5%;
  top: 26%;

}

/* ====== BANNER 3 ====== */

.banner-3{

  background-color: var(--light-color);

}

.banner-3 .saiba-mais{

  background-color: var(--dark-color);
  color: var(--light-color);
  bottom: 11%;
  left: 8.7%;

  transition: color 0.5s ease, background-color 0.5s ease;

}

.banner-3 .saiba-mais:hover{

  background-color: var(--banner-button-hover);
  color: var(--dark-color);

}

.banner-3 #agua{

  right: 0;

}

.banner-3 #gato-banho{

  right: 2.5%;

}

.banner-3 #titulo{

  left: 6%;
  top: 7%;

}

.banner-3 #texto{

  color: var(--dark-color);
  left: 6%;
  top: 25%;

}

/* ====== QUEM SOMOS ====== */

#quem-somos{

  background-color: var(--blue-light-background);
  background-image: url(imagens/servicos/fundo-animais.svg);

}

#div-quem-somos{

  display: flex;
  flex-direction: row;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;

}

#quem-somos-imagem{

  display: flex;
  flex-direction: column;
  padding-right: 40px;

}

#quem-somos-imagem #img-logo{

  height: 115px;
  width: auto;

}

#quem-somos-imagem #img-nome{

  padding-top: 15px;
  height: 55px;
  width: auto;

}

#quem-somos-texto{

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40%;
  
}

#quem-somos-texto #texto-titulo{

  font-size: clamp(1.25rem, 3dvw, 1.5rem);
  font-weight: 700;

}

#quem-somos-texto p{

  max-width: 700px;
  font-size: clamp(1rem, 1.75dvw, 1.25rem);
  font-weight: 400;

}

#quem-somos-texto-mobile{

  display: none;
  font-size: 16px;


}

/* ====== SERVIÇOS 1 ====== */

#servicos-1{

  background-color: var(--blue-background);
  background-image: url(imagens/servicos/fundo-animais.svg);
  display: flex;
  flex-direction: row;
  
}

#div-servicos-1{

  display: flex;
  flex-direction: row;
  height: 418px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;

}

#servicos-1-imagem img{

  width: clamp(160px, 35dvw ,320px);
  height: auto;
  padding-top: 120px;
  padding-right: 40px;

}

#servicos-1-imagem span{

  font-size: clamp(1.25rem, 3dvw, 1.5rem);
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 45px

}

#servicos-1 p{

  font-size: clamp(1rem, 1.75dvw, 1.25rem);
  font-weight: 400;
  max-width: 620px;
  position: absolute;
  left: 40%;

}

/* ====== SERVICOS 2 ====== */

#servicos-2{

  background-color: var(--blue-light-background);
  background-image: url(imagens/servicos/fundo-animais.svg);
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

}

#servicos-2 img{

  width: clamp(160px, 35dvw ,320px);
  height: auto;
  padding-left: 40px;

}

#div-servicos-2{

  display: flex;
  flex-direction: row;
  height: 325px;
  align-items: center;
  justify-content: space-between;
  position: relative;

}

#servicos-2 p{

  font-size: clamp(1rem, 1.75dvw, 1.25rem);
  font-weight: 400;
  max-width: 620px;

}

/* ====== Profissionais ====== */

#profissionais{

  padding-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

}

#div-profissionais{

  background-color: var(--light-color);
  border-radius: 8px;
  height: 460px;
  max-width: 1180px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;

}

#div-profissionais h2{

  position: absolute;
  top: 9%;
  left: 8%

}

.cards-profissionais {

  display: flex;
  flex-direction: row;
  gap: clamp(15px, 2dvw, 30px);
  padding: 0px 30px;
  position: absolute;
  bottom: 43%;
  right: 50%;
  transform: translate(+50%, +50%)

}

.card{

  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card img{
  
  width: clamp(120px, 21.5dvw ,240px);
  height: auto;

}

.card h3{

  font-weight: 500;
  font-size: clamp(0.875rem, 1.75dvw, 1.125rem);
  font-family: var(--font-Inter);

}

.card p{

  font-weight: 400;
  font-size: clamp(0.75rem, 1.5dvw, 1rem);
  font-family: var(--font-Inter);

}

/* ====== AVALIAÇÃOS ====== */

#avaliacoes{

  padding-top: 100px;

}

#div-avaliacoes{

  height: 626px;
  position: relative;

}

#div-avaliacoes h2{

  padding-bottom: 50px;

}

.avaliacao{

  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  padding-top: 20px;
  gap: 25px;
  position: absolute;

  opacity: 0;

}

.avaliacao.active{

  opacity: 1;

}

.pos-2{

  top:36.5%;

}

.pos-3{

  top: 61%;

}

#separacao-1{

  top:35%;

}

#separacao-2{

  top: 59%;

}

.avaliacao h3{

  font-weight: 400;
  font-size: clamp(1rem, 2dvw, 1.25rem);
  font-family: var(--font-Sans);
  padding-bottom: 10px;
  padding-top: 10px;
  
}

.avaliacao blockquote{

  max-width: 750px;
  font-family: var(--font-Sans);
  font-size: clamp(1rem, 1.75dvw, 1.125rem);

}

.avaliacao .user{

  height: 80px;
  width: auto;

}

.separacao{

  width: clamp(450px, 80dvw, 900px);
  position: absolute;

}

#avaliacao-coluna{

  display: flex;
  flex-direction: column;

}

#paginas-avaliacao{

  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 15px;
  bottom: 0;
  right: 0;
  transform: translate(-20%);

}

#pagina-atual-avaliacao{

  font-weight: 700;
  font-size: 18px;

}

.seta{

  width: 40px;
  height: 30px;
  border-radius: 8px;
  border-width: 1px;
  background: none;
  cursor: pointer;
  background-image: url(imagens/avaliacoes/seta-avaliacao-preta.svg);
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;

}

.seta.active{
    
  opacity: 1;

}

.seta:hover{

  background-color: var(--avaliacao-hover);

}

.seta.clicado{

  background-color: var(--dark-color);
  background-image: url(imagens/avaliacoes/seta-avaliacao-branca.svg);

}

#seta-next{

  transform: rotate(180deg);

}

/* ====== CONTATO ====== */

#contato{

  padding-bottom: 30px;

}

#contato *{

  font-family: var(--font-Inter);

}

#div-total-contato{

  height: 745px;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  margin-top: 60px;

}

#div-contato{

  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
  margin-top: auto;
  

}

#div-localizacao{

  box-sizing: border-box;
  max-width: 420px;
  height: 692px;
  width: 100%;
  background-color: var(--light-color);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(6, 54, 67, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#div-localizacao *{

  padding-left: 20px;

}

#div-localizacao #titulo{

  padding-top: 40px;
  font-size: 20px;
  font-weight: 700;

}

#div-localizacao #texto{

  padding-top: 30px;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  line-height: 26px;

}

#icones{

  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: auto;
  padding-bottom: 15px;

}

#icones *{

  font-family: var(--font-Sans);

}

#icones img{

  padding-left: 0px;

}

#mapa{

  max-width: clamp(175px, 40dvw ,350px);
  height: auto;
  margin-top: 70px;
  padding: 0;
  display:flex;
  align-self: center;

}

.icon{

  display: flex;
  align-items: center;

}

.icon span{

  padding-left: 10px;
  
}

/* ====== FORMULÁRIO ====== */

#form{

  box-sizing: border-box;
  max-width: 620px;
  width: 100%;
  height: 692px;
  background-color: var(--white);
  margin: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(6, 54, 67, 0.4);
  border-left-width: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;

}

#form input,
#form textarea{

  max-width: 520px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0, 0.4);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-size: 20px;

}

#form textarea{

  resize: none;

}

#form #mensagem{

  height: 120px;

}

.form-grupo{

  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.form-grupo:first-child{

  padding-top: 50px;

}

#form label{

  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;

}

#submit{

  background-color: var(--accent-color);
  color: var(--light-color);
  max-width: 144px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  padding: 16px 20px;
  border-style:none;
  font-family: var(--font-Poppins);
  cursor: pointer;

}

#submit:hover{

  background-color: var(--dark-color);

}

/* ====== RODAPÉ ====== */

#footer-linha{

  display: flex;
  flex-direction: row;
  height: 232px;
  background-color: var(--light-color);
  width: 100%;
  justify-content: center;
  align-items: top;

  gap: clamp(55px, 10dvw, 200px);
  box-sizing: border-box;
  padding: 40px;
  
}

.footer-coluna{

  display:flex;
  flex-direction: column;

}

#footer-imagem{

  align-items: center;

}

#footer-img-logo{

  padding-bottom: 10px;

}

.footer-coluna h4{

  text-transform: uppercase;

}

.footer-coluna li{

  list-style: none;
  text-transform: uppercase;
  padding-top: 5px;

}

#footer-img-logo{

  width: 82.5px;
  height: auto;

}

#footer-img-nome{

  width: 123px;
  height: auto;

}

#contato-linha{

  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;
  padding: 5px;

}

#copyright{

  background-color: var(--dark-color);
  color: var(--white);
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* ====== RESPONSIVIDADE (CELULAR) ====== */
@media (max-width: 768px) {
  
  .container, .container-menor {
    padding: 0 15px;
  }

  /* ====== HEADER MOBILE ====== */
  header {
    height: auto;
    padding: 10px 0;
    border-top: 40px solid var(--white-background);
    box-shadow: none;
    position: relative;
  }

  #nav-links ul,
  #nav-links li,
  #nav-links span {
    display: none;
  }

  #nav-links {
    position: relative;
    height: 70px;
    justify-content: center;
  }

  #logoImagem {
    margin: 0;
    height: 44px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #menu-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }

  /* ====== BANNER CENTRAL MOBILE ====== */
  #inicio {
    padding: 0;
    margin-top: 20px;
  }

  #banner-central {
    background-color: var(--white-background);
    box-shadow: none;
    padding: 20px;
    height: auto;
    min-height: 300px;
    position: relative;
    text-align: center;
  }

  #texto-banner-central {
    font-size: 20px;
    position: static;
    margin-bottom: 20px;
    display: block;
  }

  #botao-banner {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 20px auto;
    display: block;
    width: 200px;
    text-align: center;
  }

  .banner-central-imagens {
    max-width: 100%;
  }

  #pets-detalhe {
    width: 80%;
    position: absolute;
    top: -10%;
    right: 10%;
    z-index: 1;
  }

  #pets {
    width: 90%;
    max-width: 300px;
    position: relative;
    bottom: auto;
    right: auto;
    transform: none;
    margin: 0 auto;
    display: block;
  }

  /* ====== CAMPANHA MOBILE ====== */
  
  #campanha{

    display: none;

  }


  /* ====== QUEM SOMOS MOBILE ====== */

  #div-quem-somos {
    flex-direction: column;
    height: 356px;
    padding: 30px 0;
    text-align: center;
    position: relative;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  #quem-somos-imagem {
    padding-right: 0;
    height: 102.5px;
    width: 167px;
  }

  #quem-somos-imagem #img-logo{

    height: 102.5px;

  }

  #quem-somos-texto {
    position: static;
    padding: 0 15px;
  }

  #quem-somos-texto #texto-titulo {
    width: 100%;
    font-size: 28px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);

  }

  #quem-somos-texto p {
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  #quem-somos-texto #texto-destaque{

    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;

  }

  /* ====== SERVIÇOS MOBILE ====== */

  #div-servicos-2{

    display: none;

  }

  #div-servicos-1{
    flex-direction: column;
    height: 330px;
    padding: 30px 0;
    text-align: center;
    position: relative;
    justify-content: unset;
    overflow: hidden;
    gap: 20px;
  }

  #div-servicos-1:nth-child(3){

    display: flex;
    justify-content: flex-end;

  }

  #servicos-1-imagem span {
    position: static;
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: var(--font-Inter);
  }

  #servicos-1 p {
    position: static;
    padding: 0 15px;
    font-size: 14px;
    line-height: 20px;
  }

  #div-servicos-1 #texto-destaque{

    display: none;

  }

  #servicos-1-imagem img{
    
    display: none;

  }

  #botao-servico{

    display: block;
    height: 39px;
    width: 207px;
    background-color: white;
    font-family: var(--font-Poppins);
    font-weight: 700;
    font-size: 15.35px;
    border-radius: 2px;

  }

  #gato-sombra-servico{

    position: absolute;
    height: 265px;
    width: auto;
    bottom: -52%;
    right: 50%;
    transform: translate(120%);
  }

  /* ====== PROFISSIONAIS MOBILE ====== */
  #profissionais {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 80px;
  }

  #div-profissionais {
    height: auto;
    padding: 0;
  }

  #div-profissionais h2 {

    width: 100%;
    font-size: 20px;
    left: 0;
    top: -11%;
    text-align: center;
    font-size: 24px;
  }

  .cards-profissionais {

    height: 493px;
    position: static;
    transform: none;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: clamp(3px, 1dvw, 5px);
    padding: 0;
  }

  .card img {
    width: 166px;
  }

  .card{

    width: 166px;
    justify-content: center;
    margin: 0;

  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 11px;
  }

  /* ====== AVALIAÇÕES MOBILE ====== */
  
  #avaliacoes{

    padding-top: 0;

  }

  #div-avaliacoes h2{

    display: flex;
    justify-content: center;
    padding: 25px 0;

  }

  #paginas-avaliacao{

    width: 100%;
    padding-bottom: 25px;
    justify-content: center;
    transform: translate(0);
    align-items: center;
    gap: 25px;

  }

  .separacao{

    display: none;

  }

  .seta{

    height: 40px;
    width: 40px;
    background-color: var(--mobile-button);
    background-image: url(imagens/avaliacoes/setaMobile.svg);
    border-radius: 18px;
    border-width: 0;

  }

  .seta:hover{

    background-color: var(--mobile-button);

  }

  .seta.clicado{

    background-color: var(--mobile-button);
    background-image: url(imagens/avaliacoes/setaMobile.svg);

  }


  /* ====== CONTATO MOBILE ====== */
  #contato {
    padding-bottom: 20px;
  }

  #div-total-contato {
    height: auto;
    margin-top: 30px;
    padding: 0;
    height: 529px;
    background-color: var(--white);
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-end;
  }

  #div-contato {
    flex-direction: column;
    margin-top: 0;
    box-shadow: none;
    justify-content: flex-end;
    vertical-align: center;
  }

  #div-total-contato h2{

    display: flex;
    padding-bottom: 25px;


  }

  #div-localizacao{

    display: none;

  }

  #form {
    width: 100%;
    max-width: 100%;
    height: 453px;
    border-radius: 0;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 20px;
    justify-content: flex-end;
  }

  .form-grupo{

    padding: 0 20px;

  }

  .form-grupo:first-child{

    padding-top: 0;
    
  }

  .form-grupo:last-child{

    padding-bottom: 25px;
    padding-top: 10px;

  }

  #form label{

    font-size: 13.1px;
    padding-bottom: 5px;

  }

  #form input{
    max-width: 100%;
    font-size: 16px;
    height: 40px;
  }

  #form #mensagem {
    height: 78px;
    max-width: 100%;
  }

  #mapa {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  #submit {
    margin: 0 auto;
    font-size: 16px;
    width: 147.35px;
    height: 56.28px;
    padding: 0;
  }

  /* ====== FOOTER MOBILE ====== */
  #footer-linha {
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding: 30px 20px;
    text-align: center;
  }

  .footer-coluna {
    align-items: center;
  }

  #contato-linha {
    justify-content: center;
  }

  .footer-coluna h4 {
    font-size: 16px;
  }

  .footer-coluna li {
    font-size: 14px;
  }

  #footer-imagem{

    display: none;

  }

  /* ====== UTILITÁRIOS ====== */
  #img-nome {
    display: none;
  }
}

/* ====== Correções para telas muito pequenas ====== */
@media (max-width: 480px) {
  #texto-banner-central {
    font-size: 18px;
  }
  
  #botao-banner {
    width: 180px;
    font-size: 16px;
    padding: 12px;
  }
  
  .avaliacao .user {
    height: 50px;
    width: 50px;
  }
  
  #carrossel-banners {
    height: 220px;
  }
  
}

@media (max-width: 360px){

  #div-quem-somos{

    padding: 15px 0;

  }

  #quem-somos-texto #texto-titulo{

    top: 5%;

  }
}





